<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Search the FT's archives by keyword.">
    <title><%= title %></title>
    <link rel="stylesheet" href="//www.ft.com/__origami/service/build/v2/bundles/css?modules=o-grid@^4.0.0,o-fonts@^3,o-buttons@^3.0.0,o-header@^4.0.0" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="https://www.ft.com/__assets/creatives/brand-ft/icons/v2/favicon-32x32.png" type="image/png" sizes="32x32">
  </head>
  <body>
    <div class="o-grid-row">
      <div data-o-grid-colspan="12"><h1><%= title %></h1></div>
    </div>
    <div class="o-grid-row">
      <div data-o-grid-colspan="one-half">
        <div class="o-forms">
          <form action="/" method="post">
            <label aria-describedby="text-box-info" for="o-forms-standard" class="o-forms__label">Enter Keyword:</label>
	          <input type="text" id="o-forms-standard" class="o-forms__text" required name="keyword">
            <input class="o-buttons o-buttons--primary" type="submit" value="Search">
            </form>
          </div>
      </div>
    </div>
    <div class="o-grid-row">
      <div data-o-grid-colspan="12">
        <% if (articles.length > 0) { %>
          <h2>Search Results:</h2>
          <% articles.forEach((article) => { %>
            <div class="headline"><a href=<%= article.url %>><%= article.title %></a>
              <div class="date"><%= article.date %></div>
            </div>
          <% }) %>
        <% } %>
      </div>
    </div>
  </body>
</html>
