<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="//www.ft.com/__origami/service/build/v2/bundles/css?modules=o-grid@^4.0.0,o-fonts@^3,o-buttons@^3.0.0,o-header@^4.0.0" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="o-grid-row">
      <div data-o-grid-colspan="12"><h1><%= title %></h1></div>
    </div>
    <div class="o-grid-row">
      <div data-o-grid-colspan="one-half">
        <form action="/" method="post">
          <input class="searchbar" type="text" name="keyword" placeholder="Enter Keyword">
          <input class="o-buttons o-buttons--primary" type="submit" value="Search"></button>
        </form>
      </div>
    </div>
    <div class="o-grid-row">
      <div data-o-grid-colspan="12">
        <% if (articles.length > 0) { %>
          <h3>Search Results:</h3>
          <% articles.forEach((article) => { %>
            <div class="headline"><a href=<%= article.url %>><%= article.title %></a>
              <div class="date"><%= article.date %></div>
            </div>
          <% }) %>
        <% } %>
      </div>
    </div>
  </body>
</html>
